<!--
  Note - This is a template for index.html.
  It uses ejs and htmlWebPackPlugin to generate a different index.html for each enviroment
-->
<!--
  <% if (htmlWebpackPlugin.options.trackJSToken) { %>
    true stuff
  <% } %>
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <h1>Users</h1>
  <table>
    <thead>
      <th>&nbsp;</th>
      <th>Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
    </thead>
    <tbody id="users">

    </tbody>
  </table>
</body>
</html>
